<div *ngIf="!connectedUser">
    <p>Veuillez vous connecter pour accéder à la liste des tournois</p>
</div>

<div class="link" *ngIf="connectedUser?.user?.role == 'Admin'">
    <a routerLink="/tournoi/add">Ajouter un nouveau tournoi</a>
</div>

<div *ngIf="listeTournoi && connectedUser">
    <table>
        <tr>
            <td>Nom</td>
            <td>Location</td>
            <td>Categories</td>
            <td>Elo</td>
            <td>Statut</td>
            <td>Fin des inscriptions</td>
            <td>Joueurs</td>
            <td>Actions</td>
        </tr>
        <tr *ngFor="let tournoi of listeTournoi.results">
            <td>{{tournoi.name}}</td>
            <td>{{tournoi.location}}</td>
            <td>{{tournoi.categories}}</td>
            <td>{{tournoi.eloMin}} - {{tournoi.eloMax}}</td>
            <td></td>
            <td>{{tournoi.endOfRegistrationDate | date : 'dd/MM/yyyy'}}</td>
            <td>{{tournoi.minPlayers}} - {{tournoi.maxPlayers}}</td>
            <td>
                <button routerLink="/tournoi/details">🔎</button>
                <button (click)="delete(tournoi.id)">❌</button>
            </td>
        </tr>
    </table>
</div>

