<h1>Ajouter un tournoi :</h1>
<a routerLink="/tournoi">Retour à la liste des tournois</a>

<form [formGroup]="tournoiForm" (ngSubmit)="addTournoi()">
    <div>
        <input type="text" placeholder="Nom du tournoi" formControlName="name">
        <span class="error" *ngIf="tournoiForm.get('name')?.touched && tournoiForm.get('name')?.errors?.['required']">Ce champs est requis</span>
        <span class="error" *ngIf="tournoiForm.get('name')?.errors?.['maxlength']">Ce champs doit faire moins de 100 caractères</span>
    </div>
    <div>
        <input type="text" placeholder="Lieu du tournoi (facultatif)" formControlName="location">
        <span *ngIf="tournoiForm.get('location')?.errors?.['maxlength']">Ce champs doit faire moins de 100 caractères</span>
    </div>
    <div>
        <input type="number" placeholder="Nombre de joueurs minimum" formControlName="minPlayers">
        <span class="error" *ngIf="tournoiForm.get('minPlayers')?.touched && tournoiForm.get('minPlayers')?.errors?.['required']">Ce champs est requis</span>
        <span class="error" *ngIf="tournoiForm.get('minPlayers')?.errors?.['max']">Ce champs ne peut pas être supérieur à 16</span>
        <span class="error" *ngIf="tournoiForm.get('minPlayers')?.errors?.['min']">Ce champs ne peut pas être inférieur à 2</span>
    </div>
    <div>
        <input type="number" placeholder="Nombre de joueurs maximum" formControlName="maxPlayers">
        <span class="error" *ngIf="tournoiForm.get('maxPlayers')?.touched && tournoiForm.get('maxPlayers')?.errors?.['required']">Ce champs est requis</span>
        <span class="error" *ngIf="tournoiForm.get('maxPlayers')?.errors?.['max']">Ce champs ne peut pas être supérieur à 16</span>
        <span class="error" *ngIf="tournoiForm.get('maxPlayers')?.errors?.['min']">Ce champs ne peut pas être inférieur à 2</span>
    </div>
    <div>
        <input type="number" placeholder="elo minimum (facultatif)" formControlName="eloMin">
        <span class="error" *ngIf="tournoiForm.get('eloMin')?.errors?.['max']">Ce champs ne peut pas être supérieur à 3000</span>
        <span class="error" *ngIf="tournoiForm.get('eloMin')?.errors?.['min']">Ce champs ne peut pas être inférieur à 0</span>
    </div>
    <div>
        <input type="number" placeholder="elo maximum (facultatif)" formControlName="eloMax">
        <span class="error" *ngIf="tournoiForm.get('eloMax')?.errors?.['max']">Ce champs ne peut pas être supérieur à 3000</span>
        <span class="error" *ngIf="tournoiForm.get('eloMax')?.errors?.['min']">Ce champs ne peut pas être inférieur à 0</span>
    </div>
    <div>
        <select formControlName="categories" [(ngModel)]="category">
            <option [ngValue]="''" disabled selected>Sélectionnez une catégorie</option>
            <option *ngFor="let category of categories" [ngValue]="category">
                {{ category }}
            </option>
        </select>
        <span class="error" *ngIf="tournoiForm.get('categories')?.errors && tournoiForm.get('categories')?.touched">Veuillez choisir une catégorie</span>
    </div>
    <div>
        <input type="checkbox" id="womenOnly" formControlName="womenOnly"> <label for="womenOnly">Women Only</label>
    </div>
    <div>
        <input type="date" placeholder="Date de fin d'inscription" formControlName="endOfRegistrationDate">
        <span class="error" *ngIf="tournoiForm.get('endOfRegistrationDate')?.errors && tournoiForm.get('endOfRegistrationDate')?.touched">Veuillez choisir une date</span>
    </div>
    <div>
        <input type="submit" value="Ajouter">
    </div>
</form>